# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude .direnv
.direnv

# Eclude precommit hooks config
.pre-commit-config.yaml

# ignore test directory to bug testing crashes
test/*

# Ignore illegal files not allowed in .mrpack
.jar